<div class="head" uk-grid>
	<a href=""><img class="logo-nav uk-margin-left" src="../assets/logoblue.png" alt="logo" height="200" width="200"></a>
	<div class="uk-container conteneur-principal uk-width-expand">
		<!--<div class="uk-section" uk-grid>
			<div class="uk-width-1-5"></div>
			<div class="uk-text-center uk-width-3-5">
				<strong class="uk-text-italic nom">Cyrille Isabal</strong>
			</div>
                        <div class="uk-text-center uk-width-1-5 uk-height-extend">
				<a href="linkedingoeshere" class="uk-icon-button uk-card" uk-icon="icon: linkedin"></a>
                        </div>

			<div class="uk-width-1-5"></div>
                        <div class="uk-text-center uk-width-3-5">
                                <strong class="uk-text-italic consult"> Consultante en Finances Locales Freelance </strong>
                        </div>
			<div class="uk-text-center uk-width-1-5">
				<a href="linkedingoeshere" class="uk-icon-link uk-card" uk-icon="icon: linkedin; ratio :3.5"></a>
			</div>
		</div>-->

		<div class="uk-section" uk-grid="parallax: 0; parallax-justify; true; masonry: pack">
			<!--<div class="uk-width-1-5"></div>-->
                        <div class="uk-text-center uk-width-3-4 uk-height-match">
				<div>
                                	<strong class="nom">Cyrille Isabal</strong>
				</div>
				<div class="uk-margin-top">
					<strong class="consult uk-text-uppercase"> Consultante en Finances Locales Freelance </strong>
				</div>
                        </div>
                        <div class="uk-card uk-text-center uk-text-justify uk-width-1-4 uk-height-match">
                                <a href="https://www.linkedin.com/in/cyrille-isabal" target="_blanck" class="uk-icon-link uk-card-body">
					<!--	<img class="logo-linkedin" uk-icon="icon:linkedin; ratio:3.5">-->
					<img src='../assets/linkedIn_icon.png'>
				</a>
                        </div>
                </div>


	</div>
</div>
	<nav class="uk-width-expand uk-navbar-container uk-light uk-text-large" uk-sticky>
		<ul class="uk-navbar-nav">	
			<li class="uk-active uk-width-1-6"><a href="">Qui suis-je ?</a></li>
			<li class="uk-active uk-width-1-6"><a href="competences">Domaine de Compétences</a></li>
			<li class="uk-active uk-width-1-6"><a href="references">Références</a></li>
			<li class="uk-active uk-width-1-6"><a href="articles">Actualités</a></li>
			<li class="uk-active uk-width-1-6"><a href="services">Mes Services</a><li>
			<li class="uk-active uk-width-1-6"><a href="contact">Contact</a></li>
		</ul>
	</nav>
