<div class="body">
	<!--<img class='uk-align-right uk-align-center uk-margin-remove-adjacent' src='../assets/cyrille.png' alt="Photo portait de Cyrille Isabal">-->
	<h2 class="uk-align-center uk-text-center "> Me Contacter :</h2>
<!--<div class="form uk-width-1-3 uk-container" >
		<div class='uk-align-left'>
			<form (ngSubmit)="onSubmit()">
				<fieldset class="uk-fieldset">
					<div class="uk-margin">
					</div>
					<div class="uk-margin">
						<input class="uk-input uk-form-width-medium" type="text" [(ngModel)]="name" name="name" placeholder="Nom" required>
					</div>
					<div class="uk-margin">
						<input class="uk-input uk-form-width-medium" type="email" [(ngModel)]="email" name="email" placeholder="Courriel" required>
					</div>
					<div class="uk-margin>">
						<textarea class="uk-textarea uk-form-width-large" [(ngModel)]="message" name="message" nows="5" cols="30" placeholder="Contenu du message" required></textarea>
					</div>
					<div class="uk-margin">
						<button type="submit"> Envoyer </button>
					</div>
				</fieldset>
			</form>
		</div>
</div> -->
	<div>
		<p class="uk-text-center">Vous pouvez me contacter par téléphone aux horaires de bureau :</p>
		<p class="uk-flex uk-flex-center uk-text-justify"><span uk-icon="icon: receiver"></span> :  06 07 72 12 25</p>
		<p class="uk-text-center"> Ou par E-Mail : </p>
		<p class = "uk-flex uk-flex-center"><span uk-icon="icon: mail"></span> :  CYRILLE.ISABAL&#64;GMAIL.COM</p>
		<p class ="uk-text-center">Ou en choisissant une date pour un visio-rendez-vous : </p>
		<!-- Début de widget en ligne Calendly -->
		<div class="calendly-inline-widget" data-url="https://calendly.com/bhadjaz/rdv-mise-a-jour-site" style="min-width:320px;height:700px;"></div>
		<!-- Fin de widget en ligne Calendly -->
	</div>
</div>
