<div class="uk-section">
	<div class="uk-container uk-container-large" uk-grid>
		<div class="uk-width-1-3 uk-text-center">
			<h3>Cyrille Isabal</h3>
			<img alt="profil picture" src="../assets/profilPicture.png">
			<p>
				<strong class="titre"> Consultante en Finances locales</strong>
			</p>
			<p>
				<strong class="titre"> Freelance </strong>
			</p>
		</div>
		<div class="uk-width-2-3 uk-text-center articles present">
			<br>
			<p>
			Mon goût pour les chiffres, les statistiques et les marchés financiers s'est concrétisé dans un premier temps dans la <span class="underlined">gestion active de la dette</span> des collectivités locales.
			</p>	
			<p>
			Puis, dans <span class="underlined">l'analyse des dotations de l'Etat</span>, et <span class="underlined">l'analyse financière rétrospective et prospective</span>.
			</p>
			<p>
				Ce qui m'a permis de construire des outils experts d'analyse sous Excel que j'utilise pour réaliser mes missions.
			</p>
			<p>
			L'évolution de la législation m'a ensuite amené à me spécialiser sur <span class="underlined">les problématiques fiscales et financières intercommunales</span>. Tout d'abord, en accompagnant les <span class="underlined">créations et fusions</span> d'établissements publics de coopération intercommunale, puis en les assistant dans <span class="underlined">l'animation et l'expertise des CLECT</span>.
			</p>
			<p>
				J'ai publier sur ces problématiques deux ouvrages. Un chez Berger-Levrault et l'autre chez Territoria.
			</p>
			<p>
			<strong>J'exerce à présent mes compétences sous forme de missions, formations ou coaching à l'heure, dans le cadre des règles des marchés publics.</strong>
			</p>
			<a href="/contact"><p class="uk-text-center">Me Contacter</p></a>
		</div>
	<!--	<div class="uk-width-1-5">
			<img alt="logo" src="../assets/littleLogoTransparent.png">
	</div>-->
		<br>
	</div>
</div>


